* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.nav-up {
    height: 37px;
    background-color: aliceblue;
    display: flex;
}

.nav-up span {
    margin: auto;
    font-size: 12px;
}

.container {
    display: flex;
    height: 75px;
    background-color: white;
}

.logo {
    width: 88px;
    background-color: white;
    padding: 15px 30px;
}

.list-items ul li {
    background-color: white;
    list-style: none;
    padding: 28px 20px;
}

.list-items ul li a {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-text {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav-text::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 0, 0);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-text:hover::after {
    width: 20%;
}

.nav-text:hover {
    font-weight: 700;
}

.list-items ul li a i {
    font-size: 12px;
    opacity: 0.7;
}

.list-items ul {
    display: flex;
}

.nav {
    height: 100vh;
}

.search {
    position: relative;
    width: 300px;
}

.search input {
    border: none;
    width: 100%;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    font-weight: 600;
    bottom: 50px;
}

.search i {
    position: relative;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #666;
}

.icons {
    margin-left: 25px;
}

.icons i {
    /* padding: 28px 2px; */
    margin-top: 28px;
    opacity: 0.8;
    margin-left: 10px;
    font-size: 25px;
}

.main .main_pic img {
    height: calc(100vh - 37px - 75px);
    width: 98.9vw;
    background-color: blueviolet;
    display: block;
    margin: 0;
    padding: 0;
}

.sepration {
    height: 20px;
    background-color: rgba(255, 187, 0, 0.717);
    margin: 0;
    padding: 0;
}

.main_disc img {
    height: 35px;
    width: 35px;
}

.main_disc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 20px 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 12px;
}

.text span {
    font-weight: 700;
}

.text .opc {
    font-weight: 450;
}